<h1><%= @movie.title %> Information</h1>
<h4><%= @movie.duration %></h4>
<h4><%= @movie.genre %></h4>
<h4><%= @movie.description %></h4>
<h4><%= @movie.trailer %></h4>
<%= link_to 'Edit Movie', edit_movie_path %>
<br />

<%= link_to 'Add Comment', new_movie_comment_path(@movie) %>
<ul>
	<% @movie.comments.all.each do |com| %>
		<li>
			<%= com.body %> - <%= link_to 'Edit comment', edit_movie_comment_path([@movie, com]) %>
		</li>
	<% end %>
</ul>